body {
    background-color: thistle;
}

h1 {
    font-family: "Righteous", cursive;
    font-size: 42px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 28px;

}

hr {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border: none;
    height: 3px;
}

p {
    text-align: center;
    font-family: "Arapey", serif;
    font-size: 22px;
    margin: auto;
    width: 80%;
    padding: 2px;
}

img {
    display: flex;
    justify-content: center;
    border-radius: 180px;
    border: 3px solid whitesmoke;
    padding: 10px;
}

.photoBox {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills {
    display: flex;
    justify-content: center;
}

.box1 {
    padding: 10px;
    margin: 20px;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h1size {
    font-size: 24px;
    ;
}

.logo {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
