h1 {
    font-family: "Righteous", cursive;
    font-size: 46px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 34px;

}

hr {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;

}

p {
    text-align: center;
    font-family: "Arapey", serif;
    font-size: 22px;
    margin: auto;
    width: 80%;
}

img {
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.photoBox {
    background-color: red;
    width: 100%;
    height: 25%;
    display: block;
    margin: 2px;
}

.skills {
    display: flex;
    justify-content: center;
}

.box1 {
    padding: 10px;
    margin: 20px;
    width: 25%;
    height: 100%;
    border: 2px solid gray;

}

.h1size {
    font-size: 24px;
}

.logo {
    width: 50px;
    height: 50px;
}
