body {
    background-color: thistle;
}

h1 {
    font-family: "Righteous", cursive;
    font-size: 52px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 34px;

}

hr {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border: none;
    height: 3px;
}

p {
    text-align: center;
    font-family: "Arapey", serif;
    font-size: 22px;
    margin: auto;
    width: 80%;
}

img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 180px;
    border: 3px solid whitesmoke
}

.photoBox {
    background-color: transparent;
    width: 100%;
    height: 25%;
    display: block;
    margin: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills {
    display: flex;
    justify-content: center;
}

.box1 {
    padding: 10px;
    margin: 20px;
    width: 25%;
    height: 100%;
    border: 3px solid whitesmoke;
    border-radius: 5px;

}

.h1size {
    font-size: 24px;
}

.logo {
    width: 50px;
    height: 50px;
}